.container{
  display: grid;
  grid-template-areas:
  "logo contacts search items burger";
  grid-template-columns: auto auto 1fr auto  auto;
  grid-column-gap: 2rem;
  grid-template-rows: 1fr;
  
}
.logo{
  grid-area: logo;
}
.contacts{
  grid-area: contacts;
  /* background: red; */
}
.search{
  grid-area: search;
  
}
.items{
  grid-area: items;
  
}
.burger{
  grid-area: burger;
}

@media(max-width: 1200px){
  .container{
    grid-template-areas:
      "contacts contacts contacts contacts"
      "logo search items burger";
    grid-template-columns: auto  1fr auto  auto;
    grid-template-rows: 1rem 4rem;
    
  }
}

@media(max-width: 650px){
  .container{
    grid-template-areas:
      "contacts  contacts contacts contacts  items items items items "
      "search  search search search search search search  burger";
    grid-template-columns: 7fr 1fr ;
    grid-template-rows: 1rem 4rem;
    grid-column-gap: 0.5rem;
    /* grid-row-gap: .3rem */

  }
}
@media(max-width: 500px){
  .container{
    grid-template-areas:
      "contacts contacts contacts"
      "items items items"
      "logo search  burger";
    grid-template-columns: auto  1fr auto ;
    grid-template-rows: 1rem 1rem 2.7rem;
    grid-row-gap: .3rem

  }
}