.containerGreed{
  position: relative;
  padding: .5rem;
  max-width: var(--maxWidth);
  margin: 0 auto;
}

.containerFlex{
  display: flex;
  align-items: center;
  gap: .7rem;
}
.burgerConteiterSvg{
  width: 2rem;
  height: 2rem;
}
.svgImgMedium{
  width: 2rem;
  height: 2rem;
  fill: white;
}
.svgImgLittle{
  width: 1.5rem;
  height: 1.5rem;
}
.flexAlighnContainer{
  display: flex;
  align-items: center;
}

@media(max-width: 650px){
  .containerGreed{
  }
}
