:root{
  --movingElemSizeWidth: 17rem;
  --movingElemSizeHeight: 25rem;

  --movingElemSizeWidthSmall: 14rem;
  --movingElemSizeHeightSmall: 20rem;

  --movingElemSizeWidthSmallest: 12rem;
  --movingElemSizeHeightSmallest: 17rem;
}
.wrapper{
  position: relative;
  width: var(--movingElemSizeWidth);
  height: var(--movingElemSizeHeight);
  border-radius: 1rem;
  overflow: hidden;
  z-index: 3;
}

.wrapper:hover .leftSide
{
   transform: translateX(0%);
}
.wrapper:hover .rightSide
{
   transform: translateX(0%);
}


.leftSide{
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  z-index: 2;
  transform: translateX(-100%);
  transition: .25s;
}
.rightSide{
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  height: 100%;
  z-index: 2;
  transform: translateX(100%);
  transition: .25s;
}

.line{
  display: flex;
  /* transition: .5s;  */
}


.elem{
  position: relative;
  flex: 0 0 var(--movingElemSizeWidth) ;
  height: var(--movingElemSizeHeight) ;

  border-radius: 1rem;
  overflow: hidden;
}
.elem img{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  /* object-fit: fill; */
}

@media(max-width:765px){
  .wrapper{
    width: var(--movingElemSizeWidthSmall);
    height: var(--movingElemSizeHeightSmall);
  }
  .elem{
    flex: 0 0 var(--movingElemSizeWidthSmall) ;
    height: var(--movingElemSizeHeightSmall) ;
  }
}
@media(max-width:550px){
  .wrapper{
    width: var(--movingElemSizeWidthSmallest);
    height: var(--movingElemSizeHeightSmallest);
  }
  .elem{
    flex: 0 0 var(--movingElemSizeWidthSmallest) ;
    height: var(--movingElemSizeHeightSmallest) ;
  }
}
