.contacts{
  display: flex;
  font-size: 1.4rem;
  color: white;
  flex-direction: column;
  gap: .5rem;
}
.contactsItem{
  display: flex;
  align-items: center;
  gap: .5rem;
}
.svgImgLittle{
  width: 1.5rem;
  height: 1.5rem;
}
.contactsButton{
  padding: .2rem .4rem;
  font-size: 1rem;
  border-radius: .3rem;
  display: none;
}

@media(max-width:1000px){
   .contactsButton{
    display: block;
  }
  .contactsItem{
    display: none;
  }
}
@media(max-width:650px){
  .contacts{
    flex-direction: row;
    gap: .5rem;
    font-size: .9rem;
  }
  .svgImgLittle{
      width: 1rem;
      height: 1rem;
  }
}
@media(max-width:500px){
  .contactsButton{
    display: block;
  }
  .contactsItem{
    display: none;
  }
}
