.name{
  font-size: 2rem;
  text-align: center;
  color: orange;
}
.shortDescription{
  font-size: 1.2rem;
  text-align: center;
}

.shortDescription span{
  margin-left: .5rem;
  color:  orange;
}
.infoContainer{
  display: flex;
  gap: .5rem;
}

.starsContainer{
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
}
.starsContainer p{
  font-size: 1.4rem;
}
.starContainer{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem
}
.actorsContainer{
  display: flex;
  flex-direction: column;
  gap: .2rem;
}
.actorsContainer p{
  font-size: 1.2rem;
}
.actorsTitle{
  font-size: 1.5rem;
  align-self: center;
}
.btnsContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  -ms-user-select: none; 
  -moz-user-select: none; 
  -webkit-user-select: none; 
  user-select: none; 
}



@media(max-width:550px){
  .infoContainer{
    flex-direction: column;  
  }
}