#root{
  width: 100%;
  height: 100%;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.container{
  max-width: var(--maxWidth);
  padding: 0 .5rem;
  margin: 0 auto;
}

header{
  width: 100%;  
  position: fixed;
  top: 0;
  left: 0;
  height: var(--heightHeader);
  z-index: 50;
  background-color: var( --headerColor);
}

main{
  margin-top: var(--heightHeader);
  flex: 1 0 50%;
  max-width: var(--maxWidth);
  width: 100%;
}

footer{
  background-color: var( --headerColor);
  width: 100%;
  flex: 0 0 15rem;
}


h3{
  font-size: 1.5rem;
  font-weight: bold;
}