.stars{
  position: relative;
  display: flex;
  gap: .2rem;
}
.star{
  position: relative;
  width: var(--sizeSrar);
  height: var(--sizeSrar);
  background-color: transparent;
}
.curtain{
  position: absolute;
  top: 0;
  right: 0;
  width: var(--starFill); 
  height: 100%;
  z-index: 2;
  background: var(--starBackground);
}
.imgSvg{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  fill: rgb(236, 176, 25);
}
.imgSvg2{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  stroke: rgb(34, 37, 8);
}