.wrapper{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
}
.flexContainer{
  display: flex;
  gap: 1rem;
}
.flexContainer>:first-child{
  flex-shrink: 0;
}
.flexContainer>:nth-child(2){
  flex-grow: 0;
}

@media(max-width: 550px){
  .flexContainer{
    display: block;
  }
  .flexContainer>:first-child{
    margin: 0 auto;
  }
}
