.wrapper{
  position: relative;
  width: 90%;
  overflow: hidden;
  border-radius: 1rem;

}
.title{
  position: absolute;
  top: 1rem;
  left: 0;
  font-size: 2.5rem;

}
.line{
  margin-top: 1rem;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none; 

  gap: 2rem;
  cursor: grab;
}
.line::-webkit-scrollbar {
  width: 0px;
}

@media(max-width: 750px){
  .title{
    font-size: 1.9rem;
  }
}


