.wrapper{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}

.item{
  position: relative;
  padding: .5rem 1rem;
  cursor: pointer;
  background-color: transparent;
}
.item:hover p{
  transition: .25s;
  color: white;
}

.iconLogo{
  flex: 0 0 3rem;
  width: 3rem;
  height: 3rem;
  fill:white;
}
.text{
  display: flex;
  flex-direction: column;
}
.subtitle{
  color: white;
}
.title{
  font-size: 1.5rem;
  white-space: nowrap;
  color: white;
}




