.wrapper{}
.stars{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.info{
  margin-bottom: 1rem;
}

.containerLink{
  position: relative;
  display: flex;
  background-color: var(--buttonsCollor);
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 15rem;
  border-radius: 1rem;
  color: white;
  height: 3rem;
}
.containerLink:hover{
  background-color: var(--headerColor);
}
.containerLink:hover .logo{
  transform: translateX(-.5rem);
}

.containerLink p{
  margin-right: 1.5rem;
}

.containerLink span{
  position: absolute;
  right: 0;
  top: 0;
  width: 3rem;
  height: 3rem;
  background-color: white;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.logo{
  position: absolute;
  right: -.2rem;
  top: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 2px solid ;
  transition: .25s;
}